.dialog-title.override {
    font-family: GeorgiaLocal, 'Times New Roman', Times, serif;
  font-size: 1.5em;
}

.dialog-text.override {
  font-size: 1.2em;
  font-family: GeorgiaLocal;
  color: #F5F4C0;
}

.dialog-choice.override {
  font-size: 1.2em;
  font-family: GeorgiaLocal;
}

.modal-container{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.modal-container.bg-gray-800{
    background-color: rgba(0, 0, 0, 0);
    background-image: url("img/ui/pausemenu.png") !important;

}


.button.menu-toggle-button{
    user-select: none;
    -moz-user-select: none;
    background-image: url("img/ui/menu0.png") !important;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0) !important;

}
.button.menu-toggle-button:hover{
    background-image: url("img/ui/menu1.png") !important;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0) !important;

}
.dialog.override {
  background-image: url("img/ui/text.png");
}

.dialog-container.override {
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: url("img/ui/scroll.png");
  overflow-y: hidden;
}

.interact-button {
    user-select: none;
    -moz-user-select: none;
    background-image: url("img/ui/continuet0.png");
    color: rgba(0, 0, 0, 0) !important;
}
.interact-button:hover {
    background-image: url("img/ui/continuet1.png") !important;
    color: rgba(0, 0, 0, 0) !important;
}

@font-face {
    font-family: GeorgiaLocal;
    src: local('../public/fonts/seriffic.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: GeorgiaLocal;
    src: local('../public/fonts/georgia bold.ttf') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: GeorgiaLocal;
    src: local('../public/fonts/georgia italic.ttf') format('woff2');
    font-weight: normal;
    font-style: italic;
}